h1 {
    width: auto;
    margin: 0;
    display: inline;
    color: #f9faf8;
    font-size: 24px;
}
ul, nav {
    display: flex;
    margin: 0;
    justify-content: space-between;
}
li {
    list-style: none;
}
ul {
    width: 400px;
}
nav {
    margin: 20px 50px;
}
.top {
    background-color:#1F2937 ;
}

h2 {
    font-weight:extra-bold;
    font-size: 48px;
    color:#F9FAF8;
}